* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
}
$base-font-size: 18px;
$heading-scale: 8;
$color-primary: #009688;
$color-primary-light: #52c7b8;
$color-primary-dark: #00675b;
$color-secondary: #8e24aa;
$color-secondary-light: #c158dc;
$color-secondary-dark: #5c007a;
* {
  font-family: "Open Sans", sans-serif;
}
@for $i from 1 through 6 {
  h#{$i} {
    font-size: $base-font-size + $heading-scale * (4 - $i);
    font-family: "Oswald", sans-serif;
    color: $color-primary;
    font-weight: 400;
  }
}

h1 {
  border: 1px solid $color-primary-dark;
  display: inline-block;
  padding-left: 0.5rem;
  margin: 0;
  font-size: 2rem;
  background: #fff;
  strong {
    font-family: inherit;
    margin-left: 10px;
    background: $color-primary;
    color: #fff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    float: right;
  }
}

header {
  background: #f6f6f6;
  padding: 8px;
  .wrapper {
    display: flex;
  }
  div.logo,
  nav {
    flex: 1;
  }
}
.wrapper {
  max-width: 900px;
  margin: 0 auto;
}
div.logo {
  padding: 15px;
}
nav {
  margin: 0;
  padding-right: 15px;
  ul {
    float: right;
    padding: 0;
  }
  ul,
  li {
    display: inline;
  }
  a {
    color: $color-secondary;
    cursor: pointer;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    &:hover {
      background: $color-secondary-dark;
      color: #fff;
    }
  }
  a.active {
    border-bottom: 3px solid $color-secondary-light;
  }
}

@media (max-width: 767px) {
  header .wrapper {
    flex-direction: column;
    text-align: center;
    padding: 8px 15px;
  }
  nav {
    padding-top: 15px;
  }
  nav ul {
    float: none;
  }
}

main {
  h2 {
    display: inline-block;
    &:after {
      border-bottom: solid 0.1em $color-secondary-light;
      display: block;
      margin-left: 1rem;
      margin-right: -1rem;
      content: "";
    }
  }
}

main {
  .wrapper {
    display: flex;
    flex-direction: row;
    section,
    aside {
      flex: 1;
      padding: 1rem;
    }
  }
}

.chart {
  border: 1px solid $color-primary;
  padding: 5px 5px 0;
  margin: 0;
}
.chart div  { 
  background-color: $color-secondary-light;
  padding: 0.5px;
  cursor: pointer;
  display: inline-block; // magic for vert chart
  &:hover {
    background-color: $color-secondary;
  }
}
.tag { display:none; position: absolute; font-size: .8rem; padding: 3px 8px; background:rgba(98, 23, 117, 0.8);   }
.tag strong { font-size: .9rem;}
.tag strong:after { content: ""; display:block; clear:both;}
.chart div:hover .tag { display:block;}

aside.feature {
  margin-top: 1rem;
  background: $color-primary-dark;
  color: #fff;
  padding: 1rem;
  h2,
  h3 {
    margin: 0;
    color: #fff;
  }
  h4 {
    text-align: right;
    margin: 0;
    color: $color-primary-light;
  }
  small {
    font-size: 0.9rem;
    line-height: 1.3;
    display: block;
    padding: 3px 0 8px 0;
  }
}

footer {
  text-align: center;
  padding: 10px 20px;
  margin-top: 1rem;
  background: $color-secondary-dark;
  color: #fff;
  font-size: 0.8rem;
  a {
    color: lighten($color-secondary-light, 20);
  }
}
 

// Thanks to https://codepen.io/jasonadelia/pen/DnrAe
.chart {
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  height:100%;
  background-size:50px 50px;
}